<nav class="menu">
  <span class="menu-circle"></span>
  <a href="#" class="menu-link">
    <span class="menu-icon">
      <span class="menu-line menu-line-1"></span>
      <span class="menu-line menu-line-2"></span>
      <span class="menu-line menu-line-3"></span>
    </span>
  </a>
</nav>

<div class="menu-overlay">
    <a><%= link_to "About", about_path %></a>
    <a><%= link_to "Portfolio", projects_path %></a>
    <a><%= link_to "Contact", new_message_path %></a>
</div>

<div class="container-projects">
<header>
  <h1 id="portfolio-title">Projects</h1>
</header>
<br>

<div class="projects">
  <div class="row">
    <% @projects.each_slice(1) do |project| %>
  <% @projects.each do |project| %>
  <div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <div class="card-img-top">
        <%= image_tag project.image  %>
      </div>
      <h1 class="card-title">
        <%= project.title %>
      </h1>
        <%= link_to "View Project", project, :class => "btn btn-primary" %>
     </div>
    <% end %>
  </div>
 </div>
 <% end %>
 </div>
</div>
</div>
